:root{
    --content-top-background:#B19470;
    --content-bottom-background:#76453B;
}

.blog_container{
    width: 100vw;
    display: flex;
    color: var(--link-hover-color); /* inherited from menubar.css */
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
.blog_wrapper{
    width:600px;
    height: 120px;
    border-radius:5px;
}

.blog_wrapper .line_container{
    display:flex;
    justify-content: center;
}

.blog_wrapper .line{
    width:600px;
    height:2px;
    background: var(--link-hover-color);
}

.blog_wrapper .blog_top{
    display:flex;
    gap:20px;
    justify-content: space-between;
    align-items: center;
    background:var(--content-top-background);
    border-radius:10px 0 0 0;
}

.blog_wrapper .blog_top .user_name::first-letter{
    text-transform: uppercase;
}

.blog_wrapper .blog_top .user_name{
    margin:0 0 0 12px;
    color:var(--menu-font-color);
    font-size:1.3em;
}

.blog_wrapper .blog_top .date{
    margin:0 12px 0 0;
    font-size:0.9em;
}

.blog_wrapper .main_content{
    background:var(--content-bottom-background);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius:0 0 10px 10px;
}
.blog_wrapper .main_content .content{
    margin:0 0 0 12px;
    font-size:2em;
}

.review-box{
    position: fixed;
    bottom: 0;
    width:100%;
    height:300px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.review-box .review{
    width:100%;
    height:250px;
    background: linear-gradient(145deg, rgb(217, 217, 217) 0%, rgba(217, 217, 217, 0) 97.82%);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.review-box .review form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.review-box .review .inp{
    width:1500px;
    background:transparent;
    border:none;
    border-bottom:2px solid white;
    margin-top:30px;
}

.review-box .review .text{
    color:var(--content-bottom-background);
    font-size:1em;
    font-family: 'Poppins', sans-serif;
}

.review-box .review .text::placeholder {
    color:#F3EDC8 ; /* or  var(--link-hover-color)*/
    font-family: 'Poppins', sans-serif;
}

.review-box .review .text:focus {
    outline: none;
}

.review-box .review form .submit {
    width: 260px;
    height: 30px;
    background: var(--link-hover-color);
    color: var(--menu-font-color);
    border-radius: 10px;
    cursor: pointer;
}

.review-box .review form .submit:hover{
    width: 260px;
    height: 30px;
    background: var(--menu-font-color);
    color: var(--link-hover-color);
    border-radius: 10px;
    cursor: pointer;
}

.review-box .review .not_authenticated{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
}

.review-box .review .not_authenticated a{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--link-hover-color);
    border-radius: 30px;
    text-decoration: none;
    color: var(--menu-font-color);
}

.review-box .review .not_authenticated h2{
    color:var(--menu-font-color);
}