{% extends 'menubar.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}
<div class="blog_container">
    {% for post in post %}
    <div class="blog_wrapper">
        <div class="blog_top">
            <p class="user_name">{{ post.author }}</p>
            <p class="date">{{ post.date_posted|date:"F d, Y" }}</p>
        </div>
        <div class="line_container">
            <div class="line"></div>
        </div>
        <div class="main_content">
            <h1 class="title">{{ post.title }}</h1>
            <p class="content">{{ post.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}