{% extends 'menubar.html' %}
{% load static %}

{% block additional_title %}
    <title>Profile</title>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'users/users.css' %}">
{% endblock %}

{% block content %}
{% if message %}
    <h1>Successful</h1>
{% endif %}
<div class="profile-container">
    <div class="profile-box">
        <div class="upper-part">
            <img class="profile-image" src="{{ user.image.url }}" alt="Not found">
            <div class="name-email">
                <div class="username">{{ user.user.first_name }} {{ user.user.last_name }}</div>
                <div class="email">{{ user.user.email }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}