body{
    background: url('/static/users/images/background-profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color:white;
}

.profile-container{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.profile-container .profile-box{
    width: 800px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    background: linear-gradient(
    180deg,
    rgba(54.19, 30.25, 30.25, 72%) 2.5%,
    rgba(217, 217, 217, 0.24) 15.5%,
    rgb(64.81, 28.63, 28.63) 100%
    );
}

.profile-box .upper-part{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}

.profile-box .upper-part .profile-image{
    width:250px;
    height:250px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid white;
}

.profile-box .upper-part .name-email{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.profile-box .upper-part .username{
    font-size:2em;
}

.profile-box .upper-part .name-email .edit-profile{
    width:100px;
    background:#40A2E3;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}

.profile-box .upper-part .name-email .edit-profile a{
    color:white;
    text-decoration:none;
}

.profile-box .lower-part{
    display:inline-block;
    padding: 20px;
}
